<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pokedex
    </ion-title>
    <ion-buttons slot="end">
      <ion-button id="left" (click)="previous()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
      <ion-button id="right" (click)="next()">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  
  <!-- <ion-card *ngFor="let poke of this.pokes">
   <img alt="{{poke.forms.name}}" src="{{poke.sprites.front_default}}" />
    <ion-card-header>
      <ion-card-title>{{poke.name}}</ion-card-title>
      <ion-card-subtitle> Peso: {{poke.height}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card> -->

  <ion-card >
    <ion-card-header>
      <ion-card-title>Pokemons</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let poke of this.pokes" size="4">
            <ion-card>
              <ion-card-header>
                <ion-card-title>{{poke.name}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <img alt="{{poke.name}}" src="{{poke.sprites.front_default}}" />
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>


  <!--<ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pokedex</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container> -->
</ion-content>
