<ion-header [translucent]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>Find</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar (ionChange)="handleChange($event)"></ion-searchbar>
    </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true">
 <ion-card *ngIf="pokemon != null && pokemon != undefined">

   <img alt="{{pokemon.name}}" src="{{pokemon.sprites.front_default}}" />
   
    <ion-card-header>
      <ion-card-title>{{pokemon.name}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content *ngFor="let stats of pokemon.stats">
      <ion-label *ngIf="stats.stat.name == 'hp'"><ion-icon onmouseover="hp"  name="heart"> </ion-icon> HP</ion-label>
      <ion-label *ngIf="stats.stat.name == 'attack'"><ion-icon name="barbell"></ion-icon> Attack</ion-label>
      <ion-label *ngIf="stats.stat.name == 'defense'"><ion-icon name="shield"></ion-icon> Defense</ion-label>
      <ion-label *ngIf="stats.stat.name == 'speed'"><ion-icon name="walk"></ion-icon> Speed</ion-label>
      <ion-label *ngIf="stats.stat.name == 'special-attack'"><ion-icon name="diamond"></ion-icon> Special-attack</ion-label>
      <ion-label *ngIf="stats.stat.name == 'special-defense'"><ion-icon name="lock-closed"></ion-icon> Special-defense</ion-label>
      <ion-label> | Value: {{stats.base_stat}}</ion-label>
    </ion-card-content>
  </ion-card> 
</ion-content>
