
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Jogo da Velha
        </ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button (click)="makeMove(0)">{{board[0]}}</ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="makeMove(1)">{{board[1]}}</ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="makeMove(2)">{{board[2]}}</ion-button>
          </ion-col>
        </ion-row>
  
        <ion-row>
          <ion-col>
            <ion-button (click)="makeMove(3)">{{board[3]}}</ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="makeMove(4)">{{board[4]}}</ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="makeMove(5)">{{board[5]}}</ion-button>
          </ion-col>
        </ion-row>
  
        <ion-row>
          <ion-col>
            <ion-button (click)="makeMove(6)">{{board[6]}}</ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="makeMove(7)">{{board[7]}}</ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="makeMove(8)">{{board[8]}}</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  `